requests~=2.31.0
aiogram~=3.0.0
markdownify~=0.11.6
aiohttp~=3.8.5
beautifulsoup4~=4.12.2
lxml~=4.9.3
soupsieve~=2.5
pip~=23.2.1
attrs~=23.1.0
idna~=3.4
multidict~=6.0.4
mysql-connector-python~=8.1.0
zipp~=3.16.2
protobuf~=4.21.12
pydantic~=2.3.0
aiofiles~=23.1.0
certifi~=2023.7.22
yarl~=1.9.2
aiosignal~=1.3.1
frozenlist~=1.4.0
six~=1.16.0
aiomysql~=0.2.0
SQLAlchemy~=2.0.29
PyMySQL~=1.1.0
greenlet~=3.0.3
urllib3~=1.26.16
setuptools~=58.0.4